body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;

}
.orange-color{
    color: rgb(252, 48, 184);
}
section{
    display: flex;
    margin-bottom: 10%;
}
.half-paragraph{
    width: 55%;
    padding: 3%;
    text-align: justify;
  text-justify: inter-word;
    
}
.half-image image{
    width: 10%;
    padding-left: 10%;
    
}
.contact-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(102, 125, 189), gray);
    padding: 1% 2%;
    border-radius: 10%;
    color: rgb(47, 238, 245);

}
.top-banner{
    background-image: url(image/top\ corner\ bg.png);
    background-repeat: no-repeat;
}
.ORDER-NOW{
    text-decoration: none;
    background-image: linear-gradient(rgb(196, 210, 247), rgb(171, 202, 241));
    padding: 1% 2%;
    border-radius: 10%;
    color: rgb(7, 5, 6);
   font-weight: 700;
  

}
.section-2{
    background-image: url(image/bottom\ bg.png);
    background-repeat: no-repeat;
    background-position: right ;
}